
.bgLogIn {
    background-image: url(../../../background/logInBg.svg);
    background-attachment: fixed;
    height: 100vh;
}

.contentLogIn {
    color: #fff;
}

.isLoading {
    height: 600px;
}

.loginBoxPosition {
    /* height: 300px; */
    padding-top: 5px;
}

.loginBoxSize {
    width: 600px;
    height: 250px;
    animation: up-to-down 2s ease-out .2s forwards;
}

@keyframes up-to-down {
    100% {
        transform: translateY(100%);
    }
}

@media all and (max-width: 425px) {
    .contentLogIn {
        font-size: 12px;
        
    }
}