.bgLogIn {
    background-image: url(../../../background/loginBg2.svg);
    background-attachment: fixed;
    /* nemoj koristiti vh, istraži alterantive zbog mobilnih uređaja googlaj why you shouldn't use vh  */
    height: 100vh;
}

/* na css klase ide kebab case */
.contentLogIn {
    color: #fff;
}

.isLoading {
    height: 600px;
}

.loginBoxPosition {
    padding-top: 5px;
}

.loginBoxSize {
    animation: up-to-down 2s ease-out .2s forwards;
    height: 250px;
    width: 600px;
}

@keyframes up-to-down {
    100% {
        transform: translateY(100%);
    }
}

@media all and (max-width: 425px) {
    .contentLogIn {
        font-size: 12px;

    }
}