
p {
    margin-bottom: 0;
}

.registration {
    background-image: url(../../../background/registrationBg.svg);
    background-attachment: fixed;
    height: 100vh;
}

.succsseful {
    color: white;
    height: 50px;
    margin-top: 50px;
    width: 300px;
}


