.home {
    background: url(../../../public/imgs/homePage.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    border-radius: 30px;
    background-position: 50% 50%;
    width: 100%;
}

.btn1 {
    height: 45px;
    width: 35%;
    border: none;
    outline: 0;
    background-color: rgb(248, 26, 92);
    color: white;
    font-weight: 700;
    border-radius: 65px;
}

.btnPosition {
    position: absolute;
    bottom: 100px;
    right: 50px;
}

.content {
    transform: translate(0, 200%)
}

.text {
    color: white;
}

.isLoading {
    height: 600px;
}

.navLink {
    color: white;
}

@media all and (min-width: 1024px) {
    .btnPosition {
        position: absolute;
        bottom: 100px;
        right: 700px;
    }
}
