.testimonials {
    height: 850px;
}

.mobile {
    height: 50px;
    margin-top: 25px;
    object-fit: contain;
    width: 50px;
}

.organic {
    height: 150px;
    margin-top: 25px;
    object-fit: contain;
    width: 150px;

}

.perfume {
    height: 100px;
    margin-top: 10px;
    object-fit: contain;
    width: 100px;
}

.trending {
    height: 200px;
}


hr {
    background: black;
    height: 1px;
}

@media screen and  (max-width: 338px) {
    .trendingPageHeight {
        height: 2900px;
    }
}

@media screen and (min-width: 339px) and (max-width: 425px) {
    .trendingPageHeight {
        height: 2700px;
    }
}

@media screen and (min-width: 426px) and (max-width: 767px) {
    .trendingPageHeight {
        height: 2550px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .trendingPageHeight {
        height: 1950px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1440px) {
    .trendingPageHeight {
        height: 1600px;
    }
}

@media screen and (max-width: 425px) {
    .trendingPageHeight {
        padding-left: 10px;
    }
}