
.headerNP {
    margin-bottom: 15px;
    text-align: center;
}

.isloadingPosition {
    height: 600px;
}

.noPageHeader{
    text-align: center;
}

.noPageFooter {
    margin-top: 110px;
}

.noneProducts {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: center;
    padding-bottom: 230px;
}

.noPage {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 624px;
    justify-content: center;
    padding-bottom: 200px;
}

