
.headerNP {
    text-align: center;
}

.isloadingPosition {
    height: 600px;
}

.noPageHeader{
    text-align: center;
}

.noPageFooter {
    margin-top: 110px;
}

.noneProducts {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noPage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}