
.getStarted {
    margin-bottom: 2.5rem;
    margin-top: 3.125rem ;
}

.loggedProfile {
    height: 3.75rem;
    margin-bottom: 2.5rem;
    margin-top: .5rem;
    padding-left: 1rem;
    width: 20rem;
}

