.indicator {
    bottom: 0;
    color: white;
    height: 1.5rem;
    position: absolute;
    right: 0;
    transform: translate(25%, 25%);
    width: 1.5rem;
}

.cart {
    height: 48px;
    width: 48px;
}

.cartIcon {
    margin-right: 3px;
}

.dropdown-button {
    margin: 0 auto;
    max-width: 1200px;
    padding: 10px;
}

.image {
    height: 30px;
    width: 30px;
}

.logoShop {
    height: 35px;
    width: 45px;
}

.navbar {
    width: 100%;
}

@media all and (max-width: 768px) {
    .dropdownLayout {
        flex-direction: column;
    }
}


@media all and (min-width: 992px) {
    .dropdownLayout {
        display: flex;
        align-items: center;
    }
}

@media all and (max-width: 992px) {
    .dropdown-button {
        padding: 5px 0;
    }
}