.first {
    gap: .5rem;
}

.second {
    gap: .5rem;
}
  
  .card-item {
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 0 20px 30px gray;
    font-size: 2rem;
    font-weight: 600;
    margin: 0 2rem;
    max-width: 400px;
    overflow: hidden;
    transform: rotate(-3deg);
    transition: transform .2s;
}

.card-image {
      height: 200px;
      object-fit: cover;
  }
  
  .card-item:hover {
    transform: rotate(0);
  }
  
  .card-item:hover .card-image {
    transform: scale(1.15);
    transition: transform 1s;
  }

  @media screen and (min-width: 1461px) {
    .card-item {
      margin-left: 115px;
    }
  }
  
  @media screen and (min-width: 1461px) {
    .card-item {
      margin-left: 115px;
    }
  }
  
  @media screen and (min-width: 1461px) and (max-width: 1761px){
    .card-item {
      margin-left: 50px;
    }
  }
  
  
  